#movie-slide-container {
  padding: 0 30px;
  box-sizing: border-box;
}
input[type="range"] {
    /* 슬라이더 전체에 대한 스타일 */
    -webkit-appearance: none; /* 기본 스타일 제거 */
    width: 40%; /* 슬라이더의 너비 */
    height: 5px; /* 슬라이더의 높이 */
    background: #2c2c2c; /* 슬라이더의 배경색 */
    border: 1px solid #535353; /* 테두리 없음 */
    border-radius: 5px; /* 슬라이더의 모서리 반경 */
    outline: none; /* 포커스 시 테두리 제거 */
    margin: 20px auto;
    display: block;
    box-sizing: border-box;
}
  
  input[type="range"]::-moz-range-thumb {
    /* 모질라 기반 브라우저 (Firefox)의 슬라이더 핸들 스타일 */
    width: 5px; /* 핸들의 너비 */
    height: 5px; /* 핸들의 높이 */
    background: yellow; /* 핸들의 배경색 */
    border-radius: 50%; /* 핸들의 모서리 반경 */
    cursor: pointer; /* 마우스 커서 모양 */
  }
  
  input[type="range"]::-webkit-slider-thumb {
    /* 크롬 브라우저의 슬라이더 핸들 스타일 */
    -webkit-appearance: none; /* 기본 스타일 제거 */
    width: 20px; /* 핸들의 너비 */
    height: 5px; /* 핸들의 높이 */
    background: var(--main-color); /* 핸들의 배경색 */
    cursor: pointer; /* 마우스 커서 모양 */
  }


  .slick-prev:before, .slick-next:before{
    font-size: 3rem;
    color: var(--main-color);
    opacity: 1;
    text-shadow: 2px 2px 2px black;
  }

  .slick-next{
    right: 15px;
    z-index: 4;
  }
  .slick-prev{
    left: -15px;
    z-index: 4;
  }
  .movie-slide-container {
    margin-bottom: 60px;
  }


  @media (max-width:800px){
    input[type="range"] {
      width: 50%;
    }
  }


  @media (max-width:480px){
    .movie-slide button{
      display: none !important;
    }
    input[type="range"] {
      width: 70%;
      
    }
  }
  