#movie-slide-container h3{
    max-width: 1200px;
    margin: 10px auto;
}
#movie-slide-container .movie-slide{
    max-width: 1200px;
    margin: 0 auto;
}


.movie-card{
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin-right: 20px;
    padding: 10px;
    padding-left: 10px;
    box-sizing: border-box;
    outline: none;
    cursor: pointer;
}
.movie-card .order-number{
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: 7rem;
    line-height: 7rem;
    font-family: GongGothicMedium;
    font-style: italic;
    text-shadow: 3px 4px 5px black;
}
.movie-card img{
    width: 100%;
    border-radius: 10px;
}

.movie-card-text{
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: space-between;
    top: 10px;
    left: 10px;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    background: #ffffffe0;
    opacity: 0;
    transition: all .5s;
    color: black;
    font-weight: bold;
    overflow-wrap: break-word;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    overflow: hidden;
}

.movie-card-text:hover{
    opacity: 1;
}

.movie-card-text h1 {
    font-size: 25px;
    margin: 0;
    font-family: 'GongGothicMedium';
    text-align: start;
}
.movie-id {
    display: flex;
    font-size: 12px;
    flex-wrap: wrap;
    margin-top: 10px;
}
.movie-id p {
    margin-right: 5px;
    background: rgb(255, 136, 0);
    box-sizing: border-box;
    border-radius: 2px;
    padding: 2px;
    color: #fff;
}
.mini-card-overview{
    font-size: 14px;
    overflow-y: scroll;
    background-color: #ebebeb;
    text-align: start;
    padding: 5px 10px;
    box-sizing: border-box;
}
.vote-average{
    text-align: center;
    border-bottom: 1px solid #cccccc9e;
    padding: 10px 0;
    box-sizing: border-box;
}
.vote-average span{
    position: relative;
}
.vote-average span::after{
    content: '⭐️';
    position: absolute;
    top: -3px;
    left: -20px;
}
.movie-card {
    text-align: center;
   
}
.movie-card button {
    font-size: 14px;
    border:1px solid var(--main-color);
    padding: 5px 10px;
    border-radius: 5px;
    margin: 10px 0;
    color: var(--main-color);
}
.movie-card button:hover {
    background-color: var(--main-color);
    color: #fff;
}
@media (max-width:970px) {
    .slick-slide{
        width: 135px !important;
    }
    .slick-slide > div {
        width: 200px;
    }
}

@media (max-width:680px) {
    .movie-card-text h1 {
        font-size: 20px;
    }
    
    /* .movie-card img{
        width: 80%;
    } */

}

@media (max-width:490px) {
    .movie-card-text h1 {
        font-size: 16px;
    }

    .vote-average {
        border: none;
        border-top: 1px solid #ebebeb;
    }
    .mini-card-button{
        display: none;
    }
    .mini-card-overview{
        display: none;
    }
}