#recommendation-movie {
    width: 50%;
}
#recommendation-movie h3 {
    font-size: 20px;
}
#recommendation-movie .movie-card .order-number{
    display: none;
}
#recommendation-movie .slick-prev:before, #recommendation-movie .slick-next:before {
    display: none;
}
#recommendation-movie input{
    display: none;
}
#recommendation-movie ul {
    padding-left: 0;
}
#recommendation-movie .movie-card:hover{
    transform:scale(1.1)
}
#recommendation-movie .movie-card-text{
    /* font-size: 13px; */
    display: none;
}
/* #recommendation-movie .movie-id {
    margin-top: 5px;
}
#recommendation-movie .movie-id p{
    font-size: 10px;
    padding: 1px;
}
#recommendation-movie .mini-card-overview{
    display: none;
}
#recommendation-movie .vote-average{
    padding-bottom: 5px;
    font-size: 15px;
    border: none;
}
#recommendation-movie  .mini-card-button{
    display: none;
} */

@media (max-width:980px){
    #recommendation-movie {
        width: 100%;
    }
}