#trailer {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    margin-top: 50px;
}
#trailer .video-wrap{
    width: 65vw;
    height: 50vh;
    margin: 0 auto;
}
#trailer .video-wrap .video {
    width: 100%;
    height: 100%;
}

@media (max-width:575px){
    #trailer .video-wrap{
        width: 70vw;
        height: 40vh;
    }
}