
#app-layout {
    padding-top: 20px;
    box-sizing: border-box;
}
#app-layout .navbar {
    max-width: 1200px;
    margin: 0 auto;
}
.navbar-brand {
    width: 150px;
    cursor: pointer;
}

.navbar-brand .default-ltr-cache-1d568uk {
    color: var(--main-color);
    fill: currentColor;
}

.nav-link{
    color: #fff;
}
.nav-link:hover {
    color: var(--main-color);
}
.navbar-toggler-icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.navbar-toggler {
    border: none;
    outline: none;
}
.navbar-toggler:focus{
    box-shadow: none;
}

@media (max-width: 750px) {
    .navbar-brand {
        width: 120px;
    }
}
@media (max-width: 450px) {
    .navbar-brand {
        width: 100px;
    }
}